<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="admin.html"/>
  <head>
    <title>Feedback</title>
  </head>
  <body>
  <div id="sub-main-right">
    <div id="feedback-list">
      <form style="display:hidden" id="token-form" method="post">
        <div>
          <input type="hidden" name="action" value="delete"/>
        </div>
      </form>
      <h3>Commented Pages</h3>
      <ul py:for="id, author, comment, path, created, modified in feedback" class="list">
        <li id="feedback">
           <div xml:space="preserve">${wiki_to_html(context, comment)}
           By ${authorinfo(author)} submitted feedback on <a href="${href(path)}">${path}</a> ${dateinfo(created)} ago </div>
           <br>
           <a class="delete" href="${href.feedback(id)}">Remove</a>
            </br>
        </li>
      </ul>
    </div>
  </div>
  </body>
</html>
