#feedback-box {
  bottom: 50px;
  right: 0;
  position: absolute;
  width: 20px; /* if changed, see feedback.js */
  height: 110px; /* if changed, see feedback.js */
  padding: 0;
  border: 1px solid #ccc;
  border-right: 0;
  background: inherit;
}
#feedback-box textarea {
  width: 293px;
  height: 120px;
}
#feedback-toggler {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}
#feedback-list {
  width: 50%;
  margin: 0 auto;
}